numpy
Pillow
torch
torchvision
opencv-python-headless
transformers
accelerate
ftfy
einops
git+https://github.com/facebookresearch/segment-anything.git
supervision==0.23.0
streamlit
streamlit-image-coordinates
matplotlib
tqdm
requests
protobuf<4.0.0
pydantic<2.0.0
